/* need to change the page for responsiveness */
.react-calendar {
    width: 17.5rem;
    background: #272B2F;
    /* background-image: linear-gradient(180deg, rgba(64, 255, 207, 0.055) 1%, rgba(64, 255, 207, 0.055) 40.47%, rgba(51, 51, 51, 0.02) 105.71%); */
    border:  0.125rem solid #00A493;
    text-decoration: #00A493;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    line-height: 1.124em;
  }

   /* these styles are used to set up the double view for comparing calendars possible future implementation */
  /* .react-calendar--doubleView {
    width: 700px;
  }
  .react-calendar--doubleView .react-calendar__viewContainer {
    display: flex;
    margin: -0.5em;
  }
  .react-calendar--doubleView .react-calendar__viewContainer > * {
    width: 50%;
    margin: 0.5em;
  } */

  .react-calendar,
  .react-calendar *,
  .react-calendar *:before,
  .react-calendar *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .react-calendar button {
    margin: 0;
    border: 0;
    outline: none;
  }
  .react-calendar button:enabled:hover {
    cursor: pointer;
  }
  .react-calendar__navigation {
    height: 2.7rem;
    
  }
  /* This controls the top monthly navigation */
  .react-calendar__navigation button {
    min-width: 2.7rem;
    background: #272B2F;
    /* background-image:linear-gradient(180deg, rgba(64, 255, 207, 0.281) 1%, rgba(64, 255, 207, 0.055) 40.47%, rgba(51, 51, 51, 0.02) 105.71%); */
    text-decoration: bold;
    color: white;
    
  }
  /* This controls the hover and focus for the top monthly navigation */
  .react-calendar__navigation button:enabled:hover,
  .react-calendar__navigation button:enabled:focus {
    background-color: #9DB1B1;
  }
  .react-calendar__navigation button[disabled] {
    background-color: #9DB1B1;
  }
  .react-calendar__month-view__weekdays {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.75em;
    color: #40FFCE;
  }
  /* abbr{
    color: #40FFCE;
  } */

  /* display non put here to hide the weekday titles form the calendar */
  .react-calendar__month-view__weekdays__weekday {
    display:none;
    
  }
  .react-calendar__month-view__weekNumbers {
    font-weight: bold;
  }
  .react-calendar__month-view__weekNumbers .react-calendar__tile {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.75em;
    padding: calc(0.75em / 0.75) calc(0.5em / 0.75);
    color:#40FFCE;
  }
  /* this will control the weekend numbers colors */
  /* .react-calendar__month-view__days__day--weekend {
    color: #272727;
  } */
  /* This is the color for days of previous or future months that appear on the calendar */

  .react-calendar__month-view__days__day {
    color: #fff;
  } 
  .react-calendar__month-view__days__day--neighboringMonth {
    color: black;
  } 
  .react-calendar__year-view .react-calendar__tile,
  .react-calendar__decade-view .react-calendar__tile,
  .react-calendar__century-view .react-calendar__tile {
    padding: 2em 0.5em;
  }
  .react-calendar__tile {
    max-width: 100%;
    text-align: center;
    padding: 0.75em 0.5em;
    background: none;
  }
  .react-calendar__tile:disabled {
    background-color: #f0f0f0;
  }
  /* this controls each  cell when it is being hovered over */
  .react-calendar__tile:enabled:hover,
  .react-calendar__tile:enabled:focus {
    background-color: #18A0FB;
  }
  /* This is the little line on the top of each selection box */
  .react-calendar__tile--now {
    background: #18A0FB;
  }
  .react-calendar__tile--now:enabled:hover,
  .react-calendar__tile--now:enabled:focus {
    background: #18A0FB;
  }
  .react-calendar__tile--hasActive {
    background: #40FFCE;
  }
  .react-calendar__tile--hasActive:enabled:hover,
  .react-calendar__tile--hasActive:enabled:focus {
    background: #a9d4ff;
  }
  /* this controls the actively selected tile */
  .react-calendar__tile--active {
    background: #006edc;
    color: white;
  }
  .react-calendar__tile--active:enabled:hover,
  .react-calendar__tile--active:enabled:focus {
    background: #1087ff;
  }
  .react-calendar--selectRange .react-calendar__tile--hover {
    background-color: #e6e6e6;
  }
  