html {
  box-sizing: border-box;
}
/* 
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  min-height: 100vh;
  width: 100%;
  margin: auto;
} */
.content {
  flex: 1;
}

.dataPage {
  width: 1400px;
}

.profileDiv {
  color: black;
  width: 600px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #636667;
}

.card img {
  width: 40%;
  border: 1px solid #27251F;
  border-radius: 5px;
  margin-top: 5%;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2%;
}

.linksDiv {
  display: flex;
  flex-direction: row;
}

div .modal-content {
  background: #636667;
  border: none;
  border-radius: 15px;
}

.norway {
  position: absolute;
  bottom: 585px;
  left: 895px;
  border: 3px solid gray;
  border-radius: 3px;
}

i {
  color: black;
  font-size: 1.5em;
}

i:hover {
  color: rgba(253, 90, 30, 0.95);
  cursor: pointer;
}

 .ddt {
  color: rgba(253, 90, 30, 0.95);
}

.ddt:hover {
  color: #EFD19F;
}

.mapboxgl-ctrl-logo {
  display: none !important;
}

.mapboxgl-ctrl-attrib {
  display: none !important;
}

#some-element {
  display: none;
  font-size: 18px;
  margin-top: 10px;
  padding: 5px;
  height:170px;
  width:100%;
  text-align: center;
  color: #EFD19F;
}

.trolley:hover #some-element {
  display: block;
}

.trolley:hover .border2 {
  display:none;
}

#some-element2 {
  display: none;
  font-size: 18px;
  margin-top: 10px;
  margin-right: 0;
  margin-left: 150px;
  height:230px;
  width:100%;
  text-align: center;
  color: #EFD19F;
}

.city:hover #some-element2 {
  display: block;
}

.city:hover .border2 {
  display:none
}

form {
  display: flex;
  justify-content: center;
}

select.form-control {
  width: 40%;
  margin: 3% 2% 4% 0%;
}

/* Right Panel Styles */

#box1 {
  height: 1rem;
  width: 1.8rem;
  background-color: #FFD034;
  margin: 0px 3px;
  pointer-events: none;
}
#box2 {
  height: 1rem;
  width: 1.8rem;
  background-color: #FF6D37;
  margin: 0px 3px;
  pointer-events: none;
}
#box3 {
  height: 1rem;
  width: 1.8rem;
  background-color: #40FFC3;
  margin: 0px 3px;
  pointer-events: none;
}
.legend {
  font-size: .7rem;
}
.legend button{
  border: none;
  border-radius: 20%;
}

.donut {
  color: white !important;
}

/* Media Queries */

/** Navigation styling **/


.navigation .subnav{
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem 0 0.5rem;
  background-color: #272727;
}
.navigation .subnav:last-child{
  justify-content: left;
  align-items: center;
}

.navigation .subnav a{
  color: white;  
  font-size: 24px;
}

.navigation .subnav a:last-child{
  padding: 0.5rem;
}

.navigation .subnav a:hover{
  color: #FF6D37;
}

.navigation .subnav a.active{
  color: #FF6D37;
}

.navigation .ddt a {
  /* Logo text styling */
  color: #FF6D37; 
}
.navigation .subnav li{
  position: relative;
}
.navigation .subnav li a.active::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #FF6D37;
}

.navigation .subnav:last-child{
  padding: 0 0%;
  background-color: #1F1F1F;
}
.navigation .subnav:last-child li{
  padding: 1rem;
}

/** Footer **/
.footer{
  position: sticky;
  width: 100%;
  background-color: #1F1F1F;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.1rem;
}
.footer p{
  /* text-align: center; */
  font-size: 10px;
  color: white;
  margin-top: 0.5rem;
  opacity: 40%;
}

.footer, .navigation{
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.right-panel{
  display:flex;
  flex-direction: column;
  width: 17.5rem;
  height: 54.9375rem;
}

.dashboard {
  display: flex;
  justify-content: left;
}


.left-panel{
  display:flex;
  flex-direction: column;
  width: 17.5rem;
  height: 54.9375rem;
}

.leftsideMetrics{
  display: flex;
  flex-direction: column;
  height: 14.0625rem;
  width: 17.5rem;
  margin-top:1%;
  align-items: center;
  border: 1px solid #00A493;
  background-color:grey;
  color:white;
}

.leftsideTitles{
  margin-top:5%;
}
.leftsidemetricsbunches{
  margin-top:8%;
  color: #FBD03F;
}
.leftsidemetricsontime{
  margin-top:8%;
  color: #FF6D37;
}
.leftsidemetricsgaps{
  margin-top:8%;
  color: #40FFCE;
}
canvas{
  max-width: 100%;
}
.score-card {
  margin-bottom: 2%;
  padding-bottom: 2%;
  height: 15rem;
}

.line-chart {
  display: flex;
}

.aboutus-map {
  width: 90%;
  display: flex;
  justify-content: center;
}

.fa {
  color: #FF8333  !important;
}